body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.azul{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.vermelho{
    width: 200px;
    height: 200px;
    background-color: red;
}

.amarelo{
    background-color: yellow;
}