body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.superior{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.inferior{
    width: 200px;
    height: 200px;
    background-color: red;
}